@page "/counter"
@using System.Net.Http.Json
@inject IHttpClientFactory factory
@inject TokenModel tokenInfo

<PageTitle>Counter</PageTitle>

<h1>ToDo List</h1>

<button class="btn btn-primary" @onclick="FetchTodos">Get ToDoList</button>

@code {   

    private async void FetchTodos()
    {
        
    }
}
